# place this in /etc/udev/rules.d/
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", RUN+="/usr/local/bin/sigdsblocks 5 $attr{online}"
