# Place this file in /etc/udev/rules.d/ after changing the path to sigdsblocks appropriately
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", RUN+="/home/ashish/.local/bin/sigdsblocks 5 $attr{online}"
